{% extends './layout.njk' %}

{% set title = 'Front End Boilerplate' %}

{% block content %}
  <div class="p-8">
    <h1 class="text-3xl font-bold text-gray-700">{{ title }}</h1>
  </div>
{% endblock %}
